body{
  background: #34495e;
  font-family: 'Poppins', serif;
}

form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  color: white;
  text-align: center;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 0px 30px rgba(255,255,255,0.5);
}

.BorderTopBottom:before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  top: -6px;
  left: -7px;
  background: #187bcd;
  transition: all 1s;
}

.BorderTopBottom:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  top: -6px;
  left: -7px;
  background: #187bcd;
  transition: all 1s;
}

.BorderLeftRight:before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  top: -6px;
  left: -7px;
  background: #187bcd;
  transition: all 1s;
}

.BorderLeftRight:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  top: -6px;
  left: -7px;
  background: #187bcd;
  transition: all 1s;
}

form:hover .BorderTopBottom:before,
form:hover .BorderTopBottom:after{
  width: 404px;
  transition: all 1s ease;
}

form:hover .BorderLeftRight:before,
form:hover .BorderLeftRight:after{
  width: 404px;
  transition: all 1s ease;
}

form h1{
  letter-spacing: 4px;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 25px;
}

form input#username,
form input#password{
  background: none;
  color: white;
  text-align: center;
  padding: 11px;
  border: 2px solid #3498db;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.4s;
  width: 230px;
}

form input#username:focus,
form input#password:focus{
  outline: none;
  border: 2px solid #2ecc71;
  width: 290px;
}

form input#checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  transform: scale(1.3);
}

form input#submit{
  background: none;
  margin: 15px;
  width: 100px;
  border: 2px solid #3498db;
  color: white;
  padding: 12px;
  border-radius: 20px;
  transition: 1s;
  cursor: pointer;
}

form input#submit:hover{
  background: white;
  color: black;
}
